@model IEnumerable<WebApplication_UESL.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Catalog Number
        </th>
        <th>
            Class Name
        </th>
        <th>
            Section Number
        </th>
        <th>
            Instructor
        </th>
        <th>
            Meet Time
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CatalogNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectionNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeetTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClassRecordID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClassRecordID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClassRecordID })
        </td>
    </tr>
}

</table>
